body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    
}

.container {
    display: grid;
    

    
    
}
   
button{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    order: -1;
    font-size: larger;
    font-weight: 800;
}


.secondContainer {
    display: flex;
    
    font-size: larger;
    font-weight: 800;

    
    
}

