html{
    background-color: #d7d5d5d8;
}
.heading {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 80px;
    padding: 10px 0;
    color: white; /* Set the text color to white */
    text-shadow: 2px 2px 0 black;
    font-weight: bolder;
    margin:10px ;
    margin-bottom: 0px;
    
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    
}

.grid {
    display: grid;
    background-color: #f0f0f0;   
}
   
button{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    order: -1;
    font-size: larger;
    font-weight: 800;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    background-color: #2991ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.secondContainer {
    display: flex;
    
    font-size: larger;
    font-weight: 800;

    
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: fit-content ;
    
}


